    config kmod-plog-port
        tristate "This is a kmod to get the process who connect to the port"
        default m
        help
          This is a kmod to get the process who connect to the port
